@tailwind base;
@tailwind components;
@tailwind utilities;

.image-porto {
  transition: ease 0.4s;
}

.link-porto:hover .image-porto {
  transform: scale(101%);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #383838;
}

::-webkit-scrollbar-thumb {
  background: #f2613f;
  border-radius: 1rem;
}
